<!DOCTYPE html>
<html>
<head>
  <title>User Management</title>
  <link rel="stylesheet" type="text/css" href="table_page/css/style.css">
  <script src="table_page/js/script.js"></script>
</head>
<body>
  <div class="container">
    <h1>User Management</h1>
    <div class="search-bar">
      <input type="text" id="searchInput" placeholder="Search...">
    </div>
    <button class="add-user-btn" onclick="showAddUserForm()">Add User</button>
    <table id="userTable">
      <thead>
        <tr>
          <th>Name</th>
          <th style="text-align: center;">Owner</th>
          <th style="text-align: center;">Phone Number</th>
          <th style="text-align: center;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- User data will be dynamically inserted here -->
        <% for(var i=0; i < data.length; i++) { %>
          <tr>
            <td><%= data[i].name %></td>
            <td style="text-align: center;"><%= data[i].owner %></td>
            <td style="text-align: center;"><%= data[i].number %></td>
            <td style="text-align: center;">
              <% if(data[i].owner == user) { %>
              <button class="edit-btn" onclick="editUser(<%= data[i].id %>)">Edit</button>
              <button class="delete-btn" onclick="deleteUser(<%= data[i].id %>)">Delete</button>
              <% } %>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <% if(data.length == 0) { %>
    <p style="margin: auto;text-align: center;"> No data</p>
  <% } %>

  <div id="addUserModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="hideAddUserForm()">&times;</span>
      <h2>Add User</h2>
      <form action="/addUser" method="post" id="addUserForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" required>
        <button type="submit">Add</button>
      </form>
    </div>
  </div>

</body>
</html>
